title: Checking for new dependency updates
author: Stephen Connolly
date: 2008-09-02

<!---
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at
https://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
#set( $goal = "display-dependency-updates" )
#set( $h3 = '###' )
Checking for new dependency updates
===================================

The `$goal` goal will check all the dependencies used in your project and display a list
of those dependencies with newer versions available.

Here are some examples of what this looks like:

```sh
svn checkout http://svn.codehaus.org/mojo/trunk/mojo/build-helper-maven-plugin build-helper-maven-plugin
cd build-helper-maven-plugin
mvn versions:$goal
```

Which produces the following output:

```sh
[INFO] ------------------------------------------------------------------------
[INFO] Building Build Helper Maven Plugin
[INFO]    task-segment: [versions:display-dependency-updates]
[INFO] ------------------------------------------------------------------------
[INFO] [versions:display-dependency-updates]
[INFO]
[INFO] The following dependency updates are available:
[INFO]   org.apache.maven:maven-artifact ........................ 2.0 -> 2.0.9
[INFO]   org.apache.maven:maven-plugin-api ...................... 2.0 -> 2.0.9
[INFO]   org.apache.maven:maven-project ....................... 2.0.2 -> 2.0.9
[INFO]   org.codehaus.plexus:plexus-utils ....................... 1.1 -> 1.5.6
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESSFUL
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 17 seconds
[INFO] Finished at: Fri Aug 15 10:46:03 IST 2008
[INFO] Final Memory: 10M/167M
[INFO] ------------------------------------------------------------------------
```

<!--- Ignoring specific version suffixes -->
#set( $goal = "display-dependency-updates" )
#parse( "ignore-versions.md.vm" )

in your project config. That will result in the following output. Instead of:

```shell
[INFO] --- versions:2.15.0:display-dependency-updates (default-cli) @ versions-maven-plugin ---
[INFO] The following dependencies in Dependency Management have newer versions:
[INFO]   dom4j:dom4j ................................. 1.6.1 -> 20040902.021138
[INFO]   org.apache.maven:maven-artifact ............... 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven:maven-compat ................. 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven:maven-core ................... 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven:maven-model .................. 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven:maven-plugin-api ............. 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven:maven-settings ............... 3.2.5 -> 4.0.0-alpha-5
[INFO]   org.apache.maven.enforcer:enforcer-api ................ 3.2.1 -> 3.3.0
[INFO]   org.apache.maven.plugin-testing:maven-plugin-testing-harness ...
[INFO]                                                   3.3.0 -> 4.0.0-alpha-1
[INFO]   org.apache.maven.plugin-tools:maven-plugin-annotations ...
[INFO]                                                           3.8.1 -> 3.8.2
[INFO]   org.mockito:mockito-inline ........................... 4.11.0 -> 5.2.0
[INFO]   org.slf4j:slf4j-simple ............................... 1.7.36 -> 2.0.7
```

you will only see:

```shell
[INFO] --- versions:2.15.0:display-dependency-updates (default-cli) @ versions-maven-plugin ---
[INFO] The following dependencies in Dependency Management have newer versions:
[INFO]   dom4j:dom4j ................................. 1.6.1 -> 20040902.021138
[INFO]   org.apache.maven:maven-artifact ....................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven:maven-compat ......................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven:maven-core ........................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven:maven-model .......................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven:maven-plugin-api ..................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven:maven-settings ....................... 3.2.5 -> 3.9.2
[INFO]   org.apache.maven.enforcer:enforcer-api ................ 3.2.1 -> 3.3.0
[INFO]   org.apache.maven.plugin-tools:maven-plugin-annotations ...
[INFO]                                                           3.8.1 -> 3.8.2
[INFO]   org.mockito:mockito-inline ........................... 4.11.0 -> 5.2.0
[INFO]   org.slf4j:slf4j-simple ............................... 1.7.36 -> 2.0.7
```

$h3 Difference between *ignoredVersions* or *ruleSet* and *dependencyExcludes*

You might wonder when to use *ignoredVersions* or *ruleSet* versus *dependencyExcludes*.

As said before, *dependencyExcludes* target the version **before the upgrade** while *ignoredVersions* or *ruleSet* filter the possible upgrades.

| Option             | Applies to…                                         | Typical use case                                               |
|--------------------|-----------------------------------------------------|----------------------------------------------------------------|
| dependencyExcludes | Project dependencies (what is declared in your POM) | Ignore certain dependencies entirely when scanning for updates |
| ignoredVersions    | Possible updates                                    | Filter certain suffixes or versions from available updates     |
| ruleSet            | Possible updates (global or per groupId:artifactId) | Same as above with fine-grained control                        |

$h3 Example

Let's say we want to list dependency updates for our POM, but we are not interested in any updates listing `-M` or `-alpha` suffixes. 

We also don't want to bother with updates to `slf4j-simple` or `dom4j` at all.

Our project has a couple build plugins, which are defined with dependencies to `plexus-utils`, like so:

```xml
<build>
  <plugins>
    <plugin>
      <groupId>com.mygroup</groupId>
      <artifact>myartifact</artifact>
      <version>1.10.2</version>
      <dependencies>
        <dependency>
          <groupId>org.codehaus.plexus</groupId>
          <artifactId>plexus-utils</artifactId>
          <version>1.1</version>
        </dependency>
      </dependencies>
    </plugin>
  </plugins>
</build>
```

This plugin depends on a pretty old version of `plexus-utils`.

However, we are also not interested in seeing any dependencies of it.

That will translate to the following configuration:

```xml
<plugin>
  <groupId>org.codehaus.mojo</groupId>
  <artifactId>versions-maven-plugin</artifactId>
  <version>${pluginVersion}</version>
  <configuration>
    <!-- Ignore unstable versions globally -->
    <ignoredVersions>
      <ignoredVersion>.*-M.*</ignoredVersion>
      <ignoredVersion>.*-alpha.*</ignoredVersion>
    </ignoredVersions>

    <!-- Exclude specific project dependencies -->
    <dependencyExcludes>
      <dependencyExclude>org.slf4j:slf4j-simple</dependencyExclude>
      <dependencyExclude>dom4j:dom4j</dependencyExclude>
    </dependencyExcludes>

    <!-- Exclude plugin transitive dependencies -->
    <pluginDependencyExcludes>
      <pluginDependencyExclude>org.codehaus.plexus:plexus-utils</pluginDependencyExclude>
    </pluginDependencyExcludes>
  </configuration>
</plugin>
```
The above configuration will:
* Skip looking for dependency updates for any `org.slf4j:slf4j-simple` dependency versions that are defined in your POM
* Skip looking for dependency updates for any `org.codehaus.plexus:plexus-utils` dependency versions that are **dependencies of plugins** in your POM
* For any retrieved updates, all `-M` and `-alpha` versions will be left out from the listed updates
